<h2>Recovery Password</h2>

<form action="" id="forgotPassword">
  <label for="">Correo</label>
  <input type="email" name="email">
  
  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Crear nueva contraseña</button>
</form>

<script src="/js/forgot-password.js"></script>