<h1>CoderChat</h1>

<div>
  <input type="text" id="chatBox">
</div>

<div>
  <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>