<h2>Login</h2>

<form action="" id="loginForm">
  <label for="">Correo</label>
  <input type="email" name="email">
  
  <label for="">Password</label>
  <input type="password" name="password">

  <button type="submit">Iniciar Sesión</button>
</form>

<br>
<br>
<br>

<a href="forgotPassword">Restaurar Contraseña</a>

<a href="/auth/github">Entrar con Github</a>

<script src="/js/login.js"></script>